*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(146,129,122);
  background: linear-gradient(0deg, rgba(146,129,122,1) 7%, rgba(86,69,58,1) 61%, rgba(54,36,23,1) 100%);
}

.carousel {
  width: 99vw;
  height: 120vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 97%;
  height: 70%;
  margin-top: 5rem;
  object-fit: contain;
  border-radius: 50px;
  /* object-position: center; */
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 12rem;
}

.carousel-button.next {
  right: 15rem;
}

/* .hidden 
  {
    display: none;
  } */

.fntS
  {
    font-size: 20px;
  }